@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  width: 100%;
  font-size: 16px;
}

.pink-text {
  color: hsl(0, 36%, 70%);
}

.logo-container {
  padding: 1.75rem;
}

.logo {
  width: 30%;
}

.hero-img {
  min-height: 250px;
  background-image: url("./images/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.text {
  padding: 5rem 1.8rem;
  text-align: center;
}

.heading {
  font-size: 2.5rem;
  line-height: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.75rem;
  font-weight: 600;
  color: hsl(0, 6%, 24%);
}

.heading span {
  font-weight: 300;
}

p.main-text {
  font-size: 0.9rem;
  font-weight: 400;
  margin: 1.5rem 0;
}

.input-container {
  background-color: white;
  border: 1px solid hsl(0, 36%, 70%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  border-radius: 50px;
}

input {
  padding: 0.75rem 1.5rem;
  border: none;
  outline: none;
  width: 70%;
  border-radius: 50px;
  color: hsl(0, 6%, 24%);
  font-weight: 600;
  font-size: 1.05rem;
}
::placeholder {
  color: hsl(0, 36%, 70%);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  color: hsl(0, 36%, 70%);
}

::-ms-input-placeholder {
  color: hsl(0, 36%, 70%);
}

button {
  width: 5rem;
  padding: 0.75rem 0;
  border-radius: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  box-shadow: 0 8px 20px hsla(0, 36%, 70%, 0.5);
  transition: background-image 0.1s linear, box-shadow 0.1s linear;
}

button:hover {
  background-image: linear-gradient(
    135deg,
    hsl(0, 100%, 98%),
    hsl(0, 80%, 86%)
  );
  box-shadow: 0 8px 20px hsl(0, 36%, 70%);
}

#error-icon {
  margin-right: 0.25rem;
  display: none;
}

#errLabel {
  font-size: 0.75rem;
  margin: 0.5rem 1.5rem;
  color: hsl(0, 74%, 74%);
  font-weight: 600;
  display: none;
}

@media screen and (min-width: 1000px) {
  body {
    width: 100%;
    background-image: url('./images/bg-pattern-desktop.svg');
    background-repeat: no-repeat;
  }
  .grid {
    display: grid;
    grid-template-columns: 53% auto;
    grid-template-areas: "a c" "b c";
    width: 90%;
    float: right;
    height: 100vh;
  }
  .grid-left {
    margin: 0;
  }

  .logo {
    width: 30%;
  }
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .hero-img {
    background-image: url("./images/hero-desktop.jpg");
    grid-area: c;
    height: 100vh;
  }
  .text {
    width: 75%;
    text-align: left;
  }
  .heading {
    font-size: 4rem;
    line-height: 5rem;
  }
  p.main-text {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}
